<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<h2> Update your Influencer Profile! <h2>
    <%= form_for(@influencer) do |f| %>
      <%= f.label :twitter_handle %>
      <%= f.text_field :twitter_handle, class: 'form-control' %>

      <%= f.label :short_bio %>
      <%= f.text_field :short_bio, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

	</div>
</div>
