<h2> Sign up as Influencer</h2> 
<h3>All fields required </h3>
<%= form_for @influencer do |i| %>
	<%= i.fields_for(resource, as: resource_name, url: registration_path(resource_name)) do |u| %>
		<div id="registration_fields">
			<%= render 'devise/registrations/registration_fields', f: u %>
		</div>
	<% end %>

    <div class='field'>
	    <%= i.label :twitter_handle %><br/>
			<%= i.text_field :twitter_handle, value: @influencer.twitter_handle	%>
	</div>

	<div class='field'>
		<%= i.label :short_bio %><br/>
		<%= i.text_area :short_bio, rows: "10", cols:"50", value: @influencer.twitter_user.description %>
	</div>

	<%= i.submit 'Join as influencer' %>
<% end %>
