<head>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
</head>

<div class= "row">
  <div class = "col-md-12">
    <h2> Stastics for: <%= @url.short_url %></h2>
  </div>
</div>
<div class = "row">
  <div class = "col-md-6">
    <div class = "panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Numbers</h3>
      </div>
      <div class="panel-body">
      <ul>
        <li>Links To: <%= @long_url%></li>
        <li>Clicks: <%= @clicks %></li>
        <li>By Day:
          <ul>
        <% @by_day.each do |element| %>
          <li><%= element.day_start %> : <%= element.clicks %> </li>
          <% end %>
        </ul>
      </ul>
    </div>
    </div>
  </div>
  <div class = "col-md-6">
    <div class = "panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Graphs</h3>
      </div>
      <div class="panel-body">
        <div class = "row">
          <div class = "col-md-12">
            <%= line_chart(@click_array) %>
          </div>
        </div>
        <div class = "row">
        <div class = "col-md-12">
          <%= column_chart({"Facebook" => @fb_shares,
                            "Pinterest" => @pinterest_shares,
                            "Reddit" => @reddit_shares,
                            "Linked In" => @linkedin_shares,
                            "Google+" => @google_shares
                            }) %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class = "row">
  <div class = "col-md-6 col-md-offset-5">
    <%= link_to "Create or view statstics on another URL", "/urls/new" %>
  </div>
</div>
