<%= javascript_include_tag "https://www.google.com/jsapi" %>

<div class = "row">
  <div class = "col-md-6">
    <h1><%= @campaign.name %></h1>
    <h3><%= @i_name %> for <%= @smb.first_name %> <%= @smb.last_name %></h3>
  </div>
</div>

<div class = "row">
  <div class = "col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class = "row">
          <div class = "col-md-3">
            <ul class = "big-text">
              <li>Links To: <%= @long_url%></li>
              <li>Total Clicks: <%= @clicks %></li>
            </ul>
          </div>
          <div class = "col-md-9">
            <div class = "row">
              <center> <h3>Visits By Day</h3></center>
            <%= line_chart(@click_data) %>
           </div>
           <div class = "row">
             <center><h3>Visits by Platform</h3></center>
             <%= column_chart({"Facebook" => @fb_shares,
                               "Pinterest" => @pinterest_shares,
                               "Reddit" => @reddit_shares,
                               "Linked In" => @linkedin_shares,
                               "Google+" => @google_shares
                               }) %>
           </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


</br>
</br>

<div class = "row">
  <div class = "col-md-6 col-md-offset-5">
    <%= link_to "Back to My Campaigns", "/campaigns" %>
  </div>
</div>
</div>
