<!DOCTYPE html>
<html>
	<head>
       	 <title>LocalsLoveIt</title>
	 <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
	 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	 <%= csrf_meta_tags %>

	</head>
	<body>
	<div class='container mainContainer'>
	      <div class = 'row navRow'>
		<div id = 'NavBar' class = 'navContainer'>
			<%= react_component( 'NavBar', {} ,{prerender: true} ) %>
		</div>
              </div>
	      <div class = 'row yieldContentRow'>
		<div id = 'content' class = 'yieldContent'>
			<%= yield %>
		</div>
	      </div>
	    </div>
	</body>
</html>
