<% link = user_signed_in? ? '/users/sign_out' : '/users/sign_in'-%>
<% is_influencer = user_signed_in? ? current_user.role == 'influencer' : false -%>
<% influencer_id = is_influencer ? current_user.influencer.id : nil -%>


<!DOCTYPE html>
<html>
	<head>
       	 <title>LocalsLoveIt</title>
	 <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
	 <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Khula', media: 'all', 'data-turbolinks-tracks' => true %>
	 <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Shadows+Into+Light', media: 'all', 'data-turbolinks-tracks' => true %>
	 <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Raleway', media: 'all', 'data-turbolinks-tracks' => true %>

	 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	 <%= csrf_meta_tags %>

	</head>
	<body>
	<div class='container mainContainer'>
	      <div class = 'row navRow'>
		<div id = 'NavBar' class = 'navContainer'>
			<%= react_component( 'NavBar', {link: link, is_influencer: is_influencer, influencer_id: influencer_id} ,{prerender: true} ) %>
		</div>
              </div>


	      <div class = 'row yieldContentRow'>


		<div id = 'content' class = 'yieldContent'>
			<div class="container">
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %> alert-info">
						<%= value %>

					</div>
				<% end %>
			</div>

			<%= yield %>
		</div>
	      </div>
	    </div>
	</body>
</html>
